body {
    background-color: #ffffff; 
    
}


.box {
    background-color: #4a86e8;
    color: white;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
}
.container {
    background-color: #2f3e55;  
    padding: 40px;              
}
.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;      
    border: 6px solid #6c63ff; 
    overflow: hidden;  

}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
}
p{
     font-family: 'italic', sans-serif;
     line-height: 1.6;
     letter-spacing: 5px;
}
.yes{ background-color: aqua;
    text-decoration: underline;
}
h2{text-decoration: underline;
}
.new{    
    color: rgb(6, 5, 5);
    padding: 1px;
    border-radius: 1px;
    font-size: 18px;
}
.inline{background-color: #edf908;}
.block{background-color: rgb(255, 0, 0);}
.pink{background-color: rgb(255, 0, 255);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
     margin: 20px;
     display: inline-block;
}
.newbox{
     background-color: #2f3e55;  
    padding: 20px;    
    text-align: center;  
            
}
.btn{    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 
.btn:hover {
    background-color: #e7af15; 
}
.grid-container{ 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}
.grid-item {
    background-color: #4a86e8;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center; 

}
.grid-item:hover {
    background-color: #6304e0; 
}
.gradient-text{
    background:indigo;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
}
.navi{color:blue;
    gap: 5px;
    cursor: pointer;


}.navi:hover{
    color: #e7af15;
}
.card{
    background-color: rgb(221, 24, 24);
    color: rgb(23, 198, 52);
    padding: 20px;
    border-radius: 8px;
    max-width:800px ; 
    width: 90%;
    margin: 20px auto; 
    text-align: center;
}
@media (max-width: 800px) {
    .card {
        background: hotpink;
    }
} 
.cardcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a86e8;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.carditem{
    height: 100px;
    width: 100px;
    background-color: #e7af15;
display: flex;
    flex-direction: column;
    gap: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
}
.carditem{
    background-color: #e7af15;
    color: white;
    padding: 20px;
    border-radius: 18px;
    text-align: center; 
}
.container1{
    display: flex;
    justify-content: center;
   padding: 10px;
    border-radius: 3px;
     margin: 20px;
     background-color: #4a86e8;
}.boxcenter{
    background-color: #93f42b;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}.boxend{
    background-color:#93f42b;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center; 
    margin-left: auto;
}
.gallery {
    width: 200px;
    height: 200px;
    background-color: #e7af15;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.gallery-container {
    display: inline;
    flex-wrap: wrap;   
    gap: 50px;         
    max-width: 40px;
}



.task-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 40px auto;
}

.task-list a {
    text-decoration: none;
    background: #222;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}

.task-list a:hover {
    background: #ff9800;
    transform: scale(1.05);
}
h1{
    text-align: center;
    color: #010203;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:underline;
    text-decoration-color: #778293;
    text-decoration-thickness: 4px;
}
