body {
    background-color: #ffffff; 
    
}


.box {
    background-color: #4a86e8;
    color: white;
    padding: 20px;
    margin: 40px;
    border-radius: 8px;
}
.container {
    background-color: #2f3e55;  
    padding: 40px;              
}
.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;      
    border: 6px solid #6c63ff; 
    overflow: hidden;  

}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;       
}
p{
     font-family: 'italic', sans-serif;
     line-height: 1.6;
     letter-spacing: 5px;
}
.yes{ background-color: aqua;
    text-decoration: underline;
}
h2{text-decoration: underline;
}
.new{    
    color: rgb(6, 5, 5);
    padding: 1px;
    border-radius: 1px;
    font-size: 18px;
}
.inline{background-color: #edf908;}
.block{background-color: rgb(255, 0, 0);}
.pink{background-color: rgb(255, 0, 255);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
     margin: 20px;
     display: inline-block;
}
.newbox{
     background-color: #2f3e55;  
    padding: 20px;    
    text-align: center;  
            
}
.btn{    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 
.btn:hover {
    background-color: #e7af15; 
}
.grid-container{ 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}
.grid-item {
    background-color: #4a86e8;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center; 

}
.grid-item:hover {
    background-color: #6304e0; 
}
.gradient-text{
    background:indigo;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
}
.navi{color:blue;
    gap: 5px;
    cursor: pointer;


}.navi:hover{
    color: #e7af15;
}
.card{
    background-color: #138406;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    margin: 20px auto; 
    text-align: center;
}
@media (max-width: 600px) {
    .card {
        background: hotpink;
    }
}