.container{
  display:flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 10px;
}

.item{
  flex: 0 0 500px;
  height: 200px;
  scroll-snap-align: start;
  background-color: aqua;
}






 .task-list2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 40px auto;
}

.task-list2 a {
    text-decoration: none;
    background: #222;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}
.task-list2 a:hover {
    background: #ff9800;
    transform: scale(1.05);}
    