body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
  font-family: 'Poppins', sans-serif;
}

.container {
    position:relative;
  background-color: rgb(216, 179, 179);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.head { display: flex; justify-content: center; 
     align-items: center; 
     
     text-align: center;
    height: 60px;  }


 p2 {

  display:flex;
  justify-content:space-between;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}
p3 {

  display:flex;
  justify-content:space-between;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}
.p{
    display: flex;
    justify-content: space-between;
}

input[type="textbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content:center;
  padding: 50px;
color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border-radius:100%;
}

.buttons:hover {
    color: #333;
  
}
.login{
    display: flex;
    justify-content:center;
    align-items:center;
    padding-right:30px;
    color:white;
   
    position:absolute;
    right: 120px;
    

}
button{
    border:radius 30px;
    padding: 10px;
    gap:30px;
}



    .task-list2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 40px auto;
}

.task-list2 a {
    text-decoration: none;
    background: #222;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}
.task-list2 a:hover {
    background: #ff9800;
    transform: scale(1.05);}
    .hero {
  text-align: center;
  margin-top: 100px;
}