body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
  font-family: 'Poppins', sans-serif;
}

.container {
    position:relative;
  background-color: rgb(187, 181, 181);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  height:70vh;
}
.head { display: flex; justify-content: center; 
     align-items: center; 
     
     text-align: center;
    height: 110px;  }



input[type="textbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content:center;
  padding: 50px;
color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border-radius:100%;
}

.buttons:hover {
    color: #333;
  
}
.login{
    display: flex;
    justify-content:center;


    align-items:center;
    padding-left:60px;
    color:white;
   
    position:absolute;
    right: 120px;
    
    

}




    .task-list2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 40px auto;
}

.task-list2 a {
    text-decoration: none;
    background: #222;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}
.task-list2 a:hover {
    background: #ff9800;
    transform: scale(1.05);}
    .hero {
  text-align: center;
  margin-top: 100px;
}





.buttons {
  
  display: flex;
  gap: 40px; 
  padding: 30px;
  border-radius:20px;
}


.btn {
  
  
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;

}


.google {
  background-color: #db4437;
}

.twitter {
  background-color: #1da1f2; 
}

.linkedin {
  background-color: #0077b5; 
}





form {
  display: flex;
  flex-direction: column; 
  align-items: center;     
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; 
  color: white;
  cursor: pointer;
}

.p{
  display:flex;
  align-items: center;
  justify-content:space-between;
}




.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000; 
}

.divider span {
  padding: 0 10px;  
  font-weight: bold;
  color: #000;
}

p2{
  color: #117498;
}
img{
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;

}







