.switch {
  position: relative;
  left: 1%;
  display: grid ;
  width: 60px;
  height: 34px;
  justify-content: center;
}



.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider::before {
  transform: translateX(26px);
}




.grid-container{ 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}
.grid-item {
    background-color: #4a86e8;
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
    gap: 10px;
    line-height:70px;
    font-size:20px;
}

.amount {
  font-size: 24px;
  font-weight: bold;
  color: #fbfbfb;
}
.box{border:none;
    border-radius: 8px;
cursor: pointer;
background-color: rgb(153, 186, 215);
padding: 0px;
width: 100%;
transition: all 1.3s ease;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: scale(1.05);
  transition: 0.6s;

box-shadow:0 10px 20px rgba(0,0,0,0.2);

}

.line{


    border-bottom: 1px solid #ccc;
}
.heading{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-decoration:underline}





.badge{
    position: absolute;
    top: -10px;
    right: 150px;
    background-color: #ff6b6b;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 50px;
    border-bottom: 1px solid #d1cbcb;}


    .card {
    position: relative;  
    width: 350px;
    padding: 40px 30px;
    background: #2c3350;
    border-radius: 20px;
    border: 2px solid #6c63ff;
    text-align: center;
    color: rgb(77, 55, 55);
    background-color: #cce71f;
    border:#2196F3 3px solid;
    border-bottom: 1px solid #333;
     transform: scale(1.05);
    z-index: 5;
    box-shadow: 
        0 0 20px rgba(108, 99, 255, 0.5),
        0 20px 60px rgba(0, 0, 0, 0.4);


}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  h1{
    text-align: center;
    color: #010203;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }  

.card:hover {
    background-color: #2196F3;
    color: white;}



    .task-list2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 40px auto;
}

.task-list2 a {
    text-decoration: none;
    background: #222;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}
.task-list2 a:hover {
    background: #ff9800;
    transform: scale(1.05);}
    .hero {
  text-align: center;
  margin-top: 100px;
}