
body {
  margin: 0;
  height: 100vh;
  background: #2f356b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
    display: flex;
    border:2px solid black;
    width: 250px;
    height:350px;
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    background-color: greenyellow;
     position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 24px;
  backface-visibility: hidden;}


  .front {
  background: #3aa7a3;
}


.back {
  background: #ff6b6b;
  transform: rotateY(180deg);
}
.container {
  perspective: 1000px;
}   

.container:hover .box {
  transform: rotateY(180deg);}




  .task-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 40px auto;
}

.task-list a {
    text-decoration: none;
    background: #222;
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}
.task-list a:hover {
    background: #ff9800;
    transform: scale(1.05);}
    .hero {
  text-align: center;
  margin-top: 100px;
}
